body
{
    
    margin: 0;
    border: 0;
    text-align: center;
    background-color: rgb(211, 84, 148);
}

h1 { 
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                                 
}    